@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.navbar-logo {
  height: 50px;
  border-radius: 0px;
}
.my-car {
  display: flex;
  height: 86.5vh;
}
.car-items {
  height: 90vh;
}
.my-button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}
.my-button:hover {
  color: #36a9e0 !important;
}

.my-button:active {
  font-size: small !important;
  color: white !important;
}

.founders {
  height: 50vh;
  width: 50vh;
  border-radius: 20px;
}

.f-card {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  width: 150vh;
  height: auto;
  margin: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.right-pos {
  text-align: right;
  margin-left: auto;
}

.my-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 25px;
  margin-top: 45px;
}
